<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Auth0 + Fastify</title>
</head>

<body>
    <main>
        <nav>
            <h2>
                Auth0 + Fastify
            </h2>
            <ul>
                <li><a href="https://auth0.com/">Auth0 ↗</a></li>
                <li><a href="<%= authorizationUrl %>">Login</a></li>
            </ul>
        </nav>
        <header>
            <h1>👋 Hi there stranger!</h1>
            <p>
                This is a simple example of how to use Fastify with Auth0. However,
                you are not currently logged in. Please log in.
            </p>
        </header>
    </main>
</body>

</html>